[class*="col-md-4"] {
  padding: 1rem;
  background-color: rgb(39, 39, 39);
  border: 4px solid rgb(45, 45, 45);
  color: #fff;
}
[class*="search-bar"] {
  padding: 1rem;
  background-color: rgb(39, 39, 39);
  border: 4px solid rgb(45, 45, 45);
  color: #fff;
}
.description-wrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; /* Limit to 3 lines */
  max-height: 2em; /* Adjust the height as needed */
}
.expanded-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.expanded-card .card {
  max-width: 600px; /* Adjust the width as per your requirement */
  width: 90%;
  max-height: 600px; /* Adjust the height as per your requirement */
  overflow-y: auto;
}
